{template login_header}
<script type="text/javascript">
$(function(){
	$(document).ready(function(){
		$("#next").val(location.href);
	});
});
</script>
<section>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				{template breadcrumb}
				{$_G['message']}
				<form action="{SITE_ROOT}index.php?home=login&act=login" class="post_form form-horizontal" method="post" autocomplete="off">
				{$csrf}
				<input type="hidden" name="next" id="next" value="" />
				<fieldset>
					<legend class="mbn">{$head_text}</legend>
					<div class="control-group">
						<label class="control-label" for="inputUsername">Username</label>
						<div class="controls">
							<input type="text" name="username" id="inputUsername" placeholder="Username">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Password</label>
						<div class="controls">
							<input type="password" name="password" id="inputPassword" placeholder="Password">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary" id="login_btn">{lang Login}</button>
						</div>
					</div>
				</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>
</div></div></div>
{template footer}