{template header}
<section>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
				  	<li><a href="index.php">首页</a> <span class="divider">/</span></li>
				  	<li><a href="#">OA管理</a> <span class="divider">/</span></li>
				  	<li><a href="{$_G['cur_link']}">回收站</a></li>
				</ul>
				{$_G['message']}
				<ul class="nav nav-tabs">
					<li {$log_active}><a href="index.php?home=recyclebin&type=log">工作日志</a></li>
					<li {$thread_active}><a href="index.php?home=recyclebin&type=thread">论坛帖子</a></li>
					<li {$bulletin_active}><a href="index.php?home=recyclebin&type=bulletin">OA公告</a></li>
	        	</ul>
	        	<p>{$title}</p>
	        	<table class="table table-condensed">
	        		<tr>
	        			<td width="5%">ID</td>
	        			<td width="10%">作者</td>
	        			<td>内容</td>
	        			<td width="12%">发布日期</td>
	        			<td width="12%">操作</td>
	        		</tr>
		        	<!--{loop $datalist $v}-->
		        	<tr>
		        		<td>{$v['id']}</td>
		        		<td>{$v['username']}</td>
		        		<td>{$v['content']}</td>
		        		<td>{eval echo date("Y-m-d H:i:s", $v['dateline']);}</td>
		        		<td>
		        			<!--{if $type == 'log'}-->
		        			<a href="{$viewlink}{$v['id']}" target="_blank">查看</a>
		        			<!--{elseif $type == 'thread'}-->
		        			<a href="{$v['link']}" target="_blank">查看</a>
		        			<!--{/if}-->
		        			<a data-toggle="modal" data-href="index.php?home=recyclebin&act=recover&id={$v['id']}&type={$type}&authorid={$v['uid']}" href="">恢复</a>
		        			<a data-toggle="modal" data-href="index.php?home=recyclebin&act=remove&id={$v['id']}&type={$type}" href="">删除</a>
						</td>
		        	</tr>
		        	<!--{/loop}-->
	        	</table>
	        	<div class="pagination pagination-right">
					{template perpage}
					{$multi}
				</div>
	        </div>
		</div>
	</div>
</section>
{template footer}