{template header}
<section>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb">
				  	<li><a href="index.php">首页</a> <span class="divider">/</span></li>
				  	<li><a href="index.php?home=thread">论坛帖子</a> <span class="divider">/</span></li>
				  	<li><a href="{$_G['cur_link']}{if $_G['action'] != 'post'}&tid={$thread['tid']}{/if}">$cur_location</a></li>
				</ul>
				{$_G['message']}
			</div>
		</div>
		<!--{if $_G['action'] == 'view'}-->
		{template thread_display}
		<!--{elseif $_G['action'] == 'post'}-->
		{template thread_post}
		<!--{elseif $_G['action'] == 'edit'}-->
		{template thread_edit}
		<!--{/if}-->
	</div>
</section>
{template footer}