{template header}
<section>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				{template breadcrumb}
				{$_G['message']}
				<form class="post_form" method="post" action="" autocomplete="off">
				{$csrf}
				<input type="hidden" name="submit" value="true" />
				<input type="hidden" name="opt" value="{$opt}" />
				<input type="hidden" name="uid" value="{$user['uid']}" />
				<fieldset>
					<legend>{lang Add/Edit User}</legend>
					<label>{lang Username}</label>
				    <input type="text" name="username" value="{$user['username']}" placeholder="" >
				    <label>{lang Password}</label>
				    <input type="password" name="password" value="" placeholder="" >
				    <label>{lang Level}</label>
				    <select name="userlevel" id="userlevel">
				    	<!--{loop $userlevel_array $k $v}-->
				    	<option value="{$v}">{eval echo lang($k);}</option>
				    	<!--{/loop}-->
				    </select>
				    <br/>
					<button class="btn btn-primary">{lang Submit}</button>
				</fieldset>
				</form>
			</div>
		</div>
	</div>
<section>
{template footer}