@CHARSET "UTF-8";
body {font-size:12px;}
.z{float:left;}.y{float:right;}
.line-n{height:38px;line-height:38px;}
.datetext{width:80px;}

.bred {font-weight:bold;color:#8B0000;}
.bwarning {font-weight:bold;color:#c09853;}
.rfd-link {color:#006;}
.xi2 {color:#336699;}

.background-grey {background-color:#f9f9f9;}

.xs1 {font-size:12px !important;}
.xs2 {font-size:14px !important;}
.xs3 {font-size:16px !important;}
.xw0 {font-weight:normal;}
.xw1 {font-weight:bold;}
.mtn {margin-top:5px;}
.mtm {margin-top:10px;}
.mtw {margin-top:20px;}
.mbn {margin-bottom:5px;}
.mbm {margin-bottom:10px;}
.mbw {margin-bottom:20px;}
.ptn {padding-top:5px;}
.ptm {padding-top:10px;}
.ptw {padding-top:20px;}
.pbn {padding-bottom:5px;}
.pbm {padding-bottom:10px;}
.pbw {padding-bottom:20px;}
.mrn {margin-right:5px;}
.mrm {margin-right:10px;}
.mrw {margin-right:20px;}
.mln {margin-left:5px;}
.mlm {margin-left:10px;}
.mlw {margin-left:20px;}
.prn {padding-right:5px;}
.prm {padding-right:10px;}
.prw {padding-right:20px;}
.pln {padding-left:5px;}
.plm {padding-left:10px;}
.plw {padding-left:20px;}
.no-margin {margin:0 !important;}
.no-margin-top {margin-top: 0 !important;}
.no-margin-left {margin-left: 0 !important;}
.no-margin-bottom {margin-bottom: 0 !important;}
.no-margin-right {margin-right: 0 !important;}
.no-padding {padding: 0 !important;}
.no-padding-top {padding-top: 0 !important;}
.no-padding-left {padding-left: 0 !important;}
.no-padding-bottom {padding-bottom: 0 !important;}
.no-padding-right {padding-right: 0 !important;}
.no-liststyle {list-style:none;}


.post_info span{margin-right:15px;}
.remove_opt{height:31px;line-height:31px;}
.table-noline {margin-bottom:0;}
.table-noline th, .table-noline td{border-top:0;}
.divide-line {height: 1px;margin:20px 1px 15px 1px;overflow: hidden;background-color: #e5e5e5;border-bottom: 1px solid #fff;}
.memberlist .checkbox.inline+.checkbox.inline {margin-left:0;}
.memberlist .checkbox.inline {margin-right:10px;}
.businesslog_area p {min-height:110px;}
.index_tablerow {min-height:20px;}
.bref_title {line-height:30px;}
.iframe-modal{
	width: 94%;
    margin-left: -47%; /* - width/2 */
    height:87%;
    overflow:auto;
    margin-top: -13%;
}
.iframe-modal .modal-body {max-height:2000px;height:92%;}
.bg-green {background:#dff0d8;}
.bg-grey {background:#f5f5f5;}
input[type="checkbox"].input-checkbox-table {margin:-3px 0 0 0;}
/*.table {word-break:break-all;word-wrap:break-word;}*/
.breadcrumb .label{font-size:100%;padding:.1em .3em;}
.textarea-sm {height:120px;}

.navbar {min-height:20px;}
.navbar-default .navbar-nav>li>a {padding:10px 10px;}


.shop_content, .shop_comment {margin-bottom:10px;padding:5px 10px;}
/*.comment_body .comment_title {border-bottom:2px solid #ccc; padding:0px 5px 5px 5px;margin-bottom:10px;}*/
.comment_body .commentInput {height:100px;}
.comment_area {color:#333;}
.comment_count {}
.food_image_area {width: 25%;}
.food_info_area {width: 70%;}
.food_block {padding:5px 10px 5px 10px;}
.food_name {margin-right:5px;}
.food_price {}
.food_image {}
.category_list {padding:8px 10px;}
.minus_btn, .plus_btn {cursor: pointer;}