{template superadmin#superadmin_header}
<div class="tab-content">
	{template breadcrumb}
	{$_G['message']}
	<form class="post_form" method="post" action="" autocomplete="off">
	{$csrf}
	<input type="hidden" name="submit" value="true" />
	<input type="hidden" name="opt" value="{$opt}" />
	<input type="hidden" name="uid" value="{$user['uid']}" />
	<fieldset>
		<legend class="mbn">{$head_text}</legend>
		<div class="control-group">
			<label class="control-label" for="inputUsername">Username</label>
			<div class="controls">
				<input type="text" name="username" value="{$user['username']}" id="inputUsername" placeholder="Username" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Password</label>
			<div class="controls">
				<input type="text" name="password" value="" id="inputPassword" placeholder="Password" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Email</label>
			<div class="controls">
				<input type="text" name="email" value="{$user['email']}" id="inputEmail" placeholder="Email" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputStatus">Status</label>
			<div class="controls">
				<select name="status" id="inputStatus">
			    	<!--{loop $_G['setting']['status'] $k $v}-->
			    	<option value="{$v}" {if $user['status'] == $v}selected="selected"{/if}>{eval echo lang($k);}</option>
			    	<!--{/loop}-->
			    </select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary" id="login_btn">{lang Submit}</button>
			</div>
		</div>
	</fieldset>
	</form>
</div>
</div></div></div></div>
{template footer}