{template superadmin#header}
<div class="tab-content">
	{template breadcrumb}
	{$_G['message']}
	<ul class="nav nav-tabs">
		<li class="{$company_active}"><a href="index.php?home=user&userlevel={$_G['setting']['userlevel']['company']}">{lang CompanyUser}({$company_count})</a></li>
		<li class="{$custom_active}"><a href="index.php?home=user&userlevel={$_G['setting']['userlevel']['custom']}">{lang CustomUser}({$custom_count})</a></li>
	</ul>
	<table class="table table-condensed">
		<tr>
			<td width="">ID</td>
	    	<td width="">{lang Username}</td>
	    	<td width="">{lang Userlevel}</td>
	    	<td width="">{lang Register Date}</td>
	    	<td width="">Opration</td>
	  	</tr>
		<!--{loop $user_list $k $v}-->
		<tr>
		
	    	<td>$v['uid']</td>
	    	<td>{$v['username']}</td>
	    	<td>{$v['userlevel']}</td>
	    	<td>{eval echo get_abbr_date($v['dateline'], true);}</td>
	    	<td>
	    		<a href="index.php?home=user&act=post&opt=edit&uid={$v['uid']}" href="">{lang Edit}</a>
	    		<a href="javascript:;" class="deletelink" data-id="{$v['uid']}" data-type="User" data-href="index.php?home=user&act=delete">{lang Delete}</a>
	    	</td>
	    </tr>
		<!--{/loop}-->
	</table>
	<!--{if !$_G['mobile']}-->
	<div class="pagination pagination-right">
		{template perpage}
		{$multi}
	</div>
	<!--{/if}-->
</div>
</div></div></div></div>
{template footer}