{template admin#admin_header}
<div class="tab-content">
	{template breadcrumb}
	{$_G['message']}
	
	<div>
		<h3>Name: $beacon['name']</h3>
		<h4>UUID: $beacon['uuid']</h4>
		<h4>Restaurant: $company_name</h4>
		<h5>CreateTime: {eval echo get_abbr_date($beacon['dateline'], true);}</h5>
		<!--{loop $dish_list $v}-->
		<div class="well well-small">
			<div class="mbm">
				<a href="index.php?home=foodorder_dishes&act=post&opt=edit&id=$v['id']" title="{$v['name']}">
					<img src="{$_G['siteurl']}{$v['path']}" style="width:260px;height:195px" title="{$v['alt']}" alt="{$v['alt']}" />
				</a>
			</div>
			<div class="xs3 xw1 clearfix" style="width:260px;">
				<span class="mrm pull-left">{$v['name']}</span>
				<span class="pull-right">{$v['price']}</span>
			</div>
		</div>
		<!--{/loop}-->
	<div>
</div>
</div></div></div></div>
{template footer}