{template admin#admin_header}
<div class="tab-content">
	{template breadcrumb}
	{$_G['message']}
	<table class="table table-condensed">
		<tr>
			<td width="">ID</td>
			<td width="">{lang Name}</td>
			<td width="">{lang Weixin}</td>
			<!--{if !$_G['mobile']}-->
			<td width="">{lang Phone}</td>
			<td width="">{lang Address}</td>
			<!--{/if}-->
	    	<td width="">{lang Createtime}</td>
	    	<td width="">Opration</td>
	  	</tr>
		<!--{loop $_G['company_list'] $k $v}-->
		<tr>
		
	    	<td>$v['id']</td>
	    	<td>{$v['name']}</td>
	    	<td>{$v['weixin']}</td>
	    	<!--{if !$_G['mobile']}-->
	    	<td>{$v['phone']}</td>
	    	<td>{$v['address']}</td>
	    	<!--{/if}-->
	    	<td>{eval echo get_abbr_date($v['dateline'], true);}</td>
	    	<td>
	    		<a href="index.php?home=foodorder_company&act=post&opt=edit&id={$v['id']}" href="">{lang Edit}</a>
	    		<a href="javascript:;" class="deletelink" data-uid="{$v['uid']}" data-id="{$v['id']}" data-type="Restaurant" data-href="index.php?home=foodorder_company&act=delete">{lang Delete}</a>
	    	</td>
	    </tr>
		<!--{/loop}-->
	</table>
</div>
</div></div></div></div>
{template footer}