{template admin#admin_header}
<div class="tab-content">
	{template breadcrumb}
	{$_G['message']}
	<table class="table table-condensed">
		<tr>
			<td width="">ID</td>
			<td width="">{lang OrderID}</td>
	    	<td width="">{lang Amount}</td>
	    	<!--{if !$_G['mobile']}-->
	    	<td width="">{lang Phone}</td>
	    	<td width="">{lang Address}</td>
	    	<!--{/if}-->
	    	<td width="">{lang Createtime}</td>
	    	<td width="">{lang Opration}</td>
	  	</tr>
		<!--{loop $orders $k $v}-->
		<tr>
		
	    	<td>$v['id']</td>
	    	<td>{$v['order_id']}</td>
	    	<td>{$v['totalprice']}</td>
	    	<!--{if !$_G['mobile']}-->
	    	<td>{$v['phone']}</td>
	    	<td>{eval echo get_br($v['address']);}</td>
	    	<!--{/if}-->
	    	<td>{eval echo get_abbr_date($v['dateline'], true);}</td>
	    	<td>
	    		<a href="index.php?home=foodorder_order&act=view&id={$v['id']}">{lang View}</a>
	    	</td>
	    </tr>
		<!--{/loop}-->
	</table>
	<!--{if !$_G['mobile']}-->
	<div class="pagination pagination-right">
		{template perpage}
		{$multi}
	</div>
	<!--{/if}-->
</div>
</div></div></div></div>
{template footer}